/* body */

body{background-color: #000000;}
.container{
   display:grid;
   background-color: #000000;
   padding:0px;
   gap:5px;
   text-align: center;
   grid-template-areas:
   "header header header header "
   "content content content content"
   "footer footer footer footer ";
}

/* header */

.header{grid-area:header; justify-content:space-between;
         background-color: rgb(21, 20, 20);align-items: center;
          display :flex;  border-radius: 15px;border-style:solid;
          border-color:rgb(78 150 44 / 30%);}
.header h2{color: #a8ff49;margin-right: auto;}
.logo{border-color: rgba(25, 134, 0, 0.706);border-radius: 50px;border-style: solid;border-width: 5px;}
.list{display:flex; justify-content: space-between; align-items: center; padding: 5px;margin:0px ;gap: 15px; list-style: none;} 
.list a{text-decoration: none; color:rgb(21, 131, 1);}
.list a:hover{color:#3cff00;text-decoration: underline;}


/* content */


.content{grid-area:content;background-color:rgb(21, 21, 21); height: 720px; border-color: #0202026e;
border-radius: 15px;border-style: solid;
}
.container .content .flex2{
display: block;gap: 5px; justify-content: center; align-items:flex-end ;
}
.container #s1{color: #0dff00; font-size: 50px;margin-top: -20px;}
.container #s2{border-radius: 35px;border:5px  black solid;width:350px;height: fit-content;background-color: #322f2f;color: antiquewhite;padding:5px ;margin-top:50px; display: inline-block;margin-top: -80px;}
#S3{background-color: #0dff00;height: 40px;width: 60px;margin-bottom: 20px; }





/* footer */
.footer{ grid-area: footer; background-color:rgb(21, 21, 21); display: flex; height: 220px;}
.footer-col {
    width: 23%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col h3 {
    font-size: 16px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #268a02;
}

.footer-col ul {
list-style: none;
padding: 0;
line-height: 2;
 }
 .footer-col a {
color: #aaaaaa;
 text-decoration: none;
 }
 .footer-col a:hover {
color: #0dff00;
 }

 p{color:#aaaaaa }


